<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='public/index.css'>
    <title>Game of Life</title>
</head>
<body>
    <div id='grid'>

    </div>
    <button type="button">
        <i class="arrow left"></i> Step
    </button>
    <button type="button">
            Step <i class="arrow right"></i>
    </button>
</body>
<script src="jquery/jquery.js"></script>
<script src="public/index.js"></script>
</html>