body {
    height: 400px;
    width: 400px;
}

#grid {
    height: 100%;
    width: auto;
    display: grid;
    grid-template-columns: repeat(10, 10fr);
}

div div {
    grid-auto-rows: 1fr;
    width: auto;
    border: 1px solid;
}

.alive {
    background-color: black;
}

.dead {
    background-color: white;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
